.city{
    width:14rem;
    height:8rem;
    border:rounded;
    margin-left:0.2rem;
    margin-right:0.2rem;
}

.boton{
    height:2rem;
    border:none;
    margin-bottom:-5vh;
    background-color: #D0D3D2;
}

.carusel{
    padding-bottom:3.5vh;
    margin-top:-4vh;
}

.city-info {
    text-align: center;
    margin-top: 2vh;
}

h3{
    font-size:3vh;
    color:light-black;
}

.carousel-inner{
    max-width: 86vw;
}