.contenedor2{
    gap: 4vw;
    padding-left:5vw;
    padding-right:5vw;
}

.color{
    background-color:#DCDCDC;
    padding-color:#DCDCDC;
}

.text{
    background-color:#DCDCDC;
    padding-color:#DCDCDC;
    margin:0vw;
}

.images{
    width:20rem;
    height:11rem;
}

.tarjeta{
    padding:1vw;
    border: 1px solid black;
}

.paises{
    font-size:1.3rem;
}

.justificado{
    justify-content: space-between;
    width:50vw;
}

.divtarjetas:hover .textotarjeta{
    background-color: white;
}

.divtarjetas:hover{
    background-color: white;
}