.contenedor2{
    gap: 4vw;
    padding-left:5vw;
    padding-right:5vw;
}

.color{
    background-color:#DCDCDC;
    padding-color:#DCDCDC;
}

.text{
    background-color:#DCDCDC;
    padding-color:#DCDCDC;
    margin:0vw;
}

.images{
    width:20rem;
    height:11rem;
}

.tarjeta{
    padding:1vw;
    border: 1px solid black;
}

.paises{
    font-size:1.3rem;
}

.justificado{
    justify-content: space-between;
    width:50vw;
}

.inputfind{
    background-color: #f5f5f5;
}

.divtarjetas:hover .textotarjeta{
    background-color: white;
}

.divtarjetas:hover{
    background-color: white;
}

.botfind{
    width:4rem;
    background-color: black;
    color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.botfind:hover {
    background-color: #353535;
    color: #fff;
}