footer{
    min-height: 4vh;
    bottom: 0;
    font-weight: bold;
    justify-content: space-between;
    position: absolute;
    padding-left:5%;
    padding-right:5%;
    padding-top:2vh;
    background-color: #D0D3D2;
}

.redes{
    padding-left: 0.5rem;
}

.links{
    color: black;
    border-bottom: 0.1rem solid black;
}

.links:hover{
    color:black;
}

.divFooter{
    width:8rem;
}

.linkHome{
    margin-right:2vw;
}