nav{
    background-color: #D0D3D2;
    width: 100vw;
}

.navdiv{
    padding-right:6vw;
    padding-left:6vw;
}

.hamburguesa{
    margin-top: .4rem;
    margin-bottom: .2rem;
}

.nav-link{
    border-style: solid;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .4rem;
    margin-bottom: .2rem;
    text-align: center;
}

.nav-link:hover{
    color:black;
    font-size:1.1rem;
}

.boton-login{
    font-weight: bold;
    border: none;
    margin-top:0.4rem;
}

.img-login{
    width:1.8rem;
    margin-left:0.6rem;
    margin-right:-0.4rem;
    margin-top:-0.1rem;
}

.titulo{
    text-decoration: none;
    color: black;
    font-size:2.4rem
}