.divitinerario{
    width:50%;
    padding:1%;
    margin-bottom:6vh;
}

.imgitinerario{
    max-width: 22vw;
}

.dolar{
    width: 2rem;
    height:1.4rem;
}

.userphoto{
    max-width:5rem;
    margin-bottom:1rem;
}

.itinerario{
    border-bottom: 1px solid black;
    padding-bottom:5%;
    padding-top:5%;
}

.itinerarytitle{
    margin-bottom: 5%;
    border-bottom: 1px solid black;
}

.botmore{
    width:18rem;
    background-color: black;
    color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.botmore:hover {
    background-color: #353535;
    color: #fff;
}